.table {
    display: grid;
    grid-template-columns: repeat(6, auto);
    border-collapse: collapse;
}

.row {
    display: grid;
    grid-template-columns: repeat(6);
    margin-bottom: 10px;
}

.column {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
    cursor: pointer;
    border: 3px;
}

.blue {
    background-color: blue;
    border-color: blue;
}
.violet {
    background-color: violet;
    border-color: violet;
}
.yellow {
    background-color: yellow;
    border-color: yellow;
}

.orange {
    background-color: orange;
    border-color: orange;
}
.green {
    background-color: green;
    border-color: green;
}
.red {
    background-color: red;
    border-color: red;
}

.rectangle {
    border-style: solid;border: 5px solid black;
    cursor: progress;
}

.rounded {
    border-radius: 50px;
    cursor: grab;
}

.column:nth-child(2) {
    border-left-style: solid;
}

.column:nth-child(3) {
    border-left-style: dotted;
}

.column:nth-child(4) {
    border-left-style: dashed;
}

.column:nth-child(5) {
    border-left-style: double;
}

.column:nth-child(6) {
    border-left-style: groove;
}